.config/ncmpcpp/*error
.config/ncmpcpp/*.log
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/bookmarks
.config/mpd/sticker.sql
.config/mpd/database
.config/mpd/playlists
.config/kak/plugins/*

.vim/plugged/*
.vim/autoload/*
.vim/viminfo
.vim/nerdtree_bookmarks

.config/Kvantum/KvYaru-Adwaita/
.config/Kvantum/KvYaru-AdwaitaLight
.config/Kvantum/KvYaru-Amber/
.config/Kvantum/KvYaru-AmberLight
.config/Kvantum/KvYaru-Aqua/
.config/Kvantum/KvYaru-AquaLight
.config/Kvantum/KvYaru-Base/
.config/Kvantum/KvYaru-BaseLight
.config/Kvantum/KvYaru-Blue/
.config/Kvantum/KvYaru-BlueLight
.config/Kvantum/KvYaru-Brown/
.config/Kvantum/KvYaru-BrownLight
.config/Kvantum/KvYaru-Cinnamon/
.config/Kvantum/KvYaru-CinnamonLight
.config/Kvantum/KvYaru-Deepblue/
.config/Kvantum/KvYaru-DeepblueLight
.config/Kvantum/KvYaru-Green/
.config/Kvantum/KvYaru-GreenLight
.config/Kvantum/KvYaru-Grey/
.config/Kvantum/KvYaru-GreyLight
.config/Kvantum/KvYaru-MATE/
.config/Kvantum/KvYaru-MATELight
.config/Kvantum/KvYaru-Orange/
.config/Kvantum/KvYaru-OrangeLight
.config/Kvantum/KvYaru-Pink/
.config/Kvantum/KvYaru-PinkLight
.config/Kvantum/KvYaru-Purple/
.config/Kvantum/KvYaru-PurpleLight
.config/Kvantum/KvYaru-Red/
.config/Kvantum/KvYaru-RedLight
.config/Kvantum/KvYaru-Remix/
.config/Kvantum/KvYaru-RemixLight
.config/Kvantum/KvYaru-Teal/
.config/Kvantum/KvYaru-TealLight
.config/Kvantum/KvYaru-Yellow/
.config/Kvantum/KvYaru-YellowLight
.config/Kvantum/Yet-another-dracula#/
