.config/ncmpcpp/*error
.config/ncmpcpp/*.log
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/bookmarks
.config/mpd/sticker.sql
.config/mpd/database
.config/mpd/playlists
.config/kak/plugins/*

.vim/plugged/*
.vim/autoload/*
.vim/viminfo
.vim/nerdtree_bookmarks

.config/gtk-2.0/gtkrc-2.0
.config/gtk-3.0/settings.ini

.config/Kvantum/Catppuccin*
.config/Kvantum/kvantum.kvconfig
