Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb

XClock.Clock.Face: "Monospace-24"
XClock.Clock.analog: false
XClock.Clock.Foreground: #ffffff
XClock.Clock.update: 10

*background: #303030
*foreground: #ffffff

Emacs.geometry: 80x24
