Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintfull

XClock.Clock.Face: "Monospace-24"
XClock.Clock.analog: false
XClock.Clock.Foreground: #f8f8f8
XClock.Clock.update: 10

*background: #303030
*foreground: #f8f8f8
