* {
    font-family: "Caskaydia Cove Nerd Font";
    border: none;
    outline: none;
}

#window {
    background-color: #1E1E2E;
}

#entry {
    border: none;
}

#entry * {
    overflow-wrap: break-word;
}

#input {
    font-size: 18pt;
    border-radius: 0px;
}

#scroll {
    margin: 0px;
    background-color: #1E1E2E;
    border-radius: 0px;
    font-size: 18pt;
    padding: 0px;
}

#outer-box {
    margin: 0px;
    border: none;
}

#inner-box {
    margin: 5px;
    border: none;
}

#text {
    padding: 0px;
    border: none;
}

#entry:unselected {
    color: #CDD6F4;
}

#entry:selected {
    background-color: transparent;
    color: #F5C2E7;
    font-weight: 900;
    word-wrap: break-word;
}
